<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>dashboard</title> 
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .user-info {
            float: right;
            margin-right: 20px; /* Adjust margin as needed */
            line-height: 40px; /* Adjust line height for vertical alignment */
        }

        .user-info img {
            width: 40px; /* Adjust size of the account icon */
            height: 40px;
            margin-right: 10px; /* Add some space between icon and username */
        }

    </style>
    
</head>
<body >


    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
        <div class="container">
            <img src="{% static 'images/ncpb2.jpg'%}" alt="Logo" style="width: 50px; height: 50px; " class="rounded-circle" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li><a href="#" class="nav-link">Shop</a></li>
                    <li><a class="nav-link" href="about.html">About us</a></li>
                    <li><a class="nav-link" href="services.html">Services</a></li>
                    <li><a class="nav-link" href="blog.html">Blog</a></li>
                    <li><a class="nav-link" href="{% url 'contact' %}">Contacts</a></li>
                </ul>
                
            </div>

            <div class="user-info text-white">
                <span>{{ user.username }}</span>
                <img src="{% static 'images/profile.png' %}" alt="Account Icon">
                
            </div>
            
        </div>
        
    </nav>
    <!-- End Navigation -->
   
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div style="width: 160px; height: 120px; background-color: rgb(76, 187, 23) ">
                            <h6 class="text-white text-center"> Cleared Visitors</h6>
                            <h4 class="text-center text-white">{{true_count}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="width: 160px; height: 120px; background-color: rgb(250, 95, 85)">
                            <h6 class="text-white text-center">Pending</h6>
                            <h4 class="text-center text-white font-weight-bold">{{false_count}}</h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div style="width: 160px; height: 150px; background-color: orange;">
                            <h6 class="text-white text-center">Top Departments</h6>
                            <div class="text-white text-white mt-3">
                                <ul>
                                    {% for department in top_departments %}
                                    <li>{{ department.destination }} - {{ department.num_entries }}</li>
                                    {% endfor %}
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="width: 160px; height: 150px; background-color: rgb(65, 105, 225)">
                            <h6 class="text-white text-center"> Top Regions</h6>
                            <div class="text-white text-white mt-3">
                                <ul>
                                        {% for receptionist in top_receptionists %}
                                        <li>{{ receptionist.region }} - {{ receptionist.num_entries }}</li>
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <canvas id="myChart" width="800" height="420"></canvas>
                <script>
                    // Initialize the chart with dynamically generated data
                    const chartData = JSON.parse('{{ chart_config|escapejs }}');
                    
                    const config = {
                        type: 'line',
                        data: chartData,
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    };
            
                    var myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );
                </script>
            </div>
            

        </div>

    </div>

    
</body>
</html>
